<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Properties>
		<Property name="logdir">${sys:catalina.base}/logs</Property>
	</Properties>
	<Appenders>
		<RollingFile
				name="File"
				fileName="${logdir}/task03.log"
				filePattern="${logdir}/task03%d{dd-MM-yyyy}.%i.log"
				append="true">
			<PatternLayout pattern="%d{ISO8601} [%-5p][%48.48c] - %m%n"/>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="5"/>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{ISO8601} [%-5p][%48.48c] - %m%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.gmail.alexejkrawez" level="info">
			<AppenderRef ref="File"/>
		</Logger>
		<Root level="info">
			<AppenderRef ref="STDOUT"/>
		</Root>
	</Loggers>
</Configuration>